---
import '../styles/reset.css';
import '../styles/globals.css'

import '@fontsource-variable/comfortaa';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Webpages</title>
    <meta name="author" content="hid3x1" />
    <meta name="copyright" content="hid3x1" />
    <meta name="description" content="This site is a collection of landing pages and other webpages." />
    <meta property="fb:app_id" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:locale" content="">
    <meta property="article:author" content="">
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:image:alt" content="">
    <meta name="twitter:dnt" content="">
    <meta name="pinterest" content="" description="">
    <meta name="apple-itunes-app" content="">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
